.nav__list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1.5em;
    padding: 0;
}
.nav__link{
    color: inherit;
    font-weight: var(--fw-reg);
    font-size: var(--fs-h3);
    text-decoration: none;
    margin-left: 2em;
    cursor: pointer;
}

.nav__link:hover{
    color: var(--clr-accent);
}


  